* {
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: lightgray;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid rgb(32, 67, 131);
}


.logo img {
    width: 150px;
    height: auto;
    cursor: pointer;
}


.pages a {
    color: rgb(32, 67, 131);
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 10px;
}

.pages button {
    padding: 10px;
    background-color: rgb(228, 228, 72);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}





.container {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.473)), url(./assets/logo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 600px;
    text-align: center;
    color: white;
}


.content h1 {
    margin: 10px;
    color: rgb(228, 228, 72);
    font-size: 40px;
}

.content h3 {
    margin: 10px;

}

.content p {
    margin: 10px;
}


.content button {
    margin: 10px;
    padding: 10px;
    background-color: rgb(228, 228, 72);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}



/* ========Start About CSS========= */


.about {
    padding: 50px;
}

.about-content {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.about-content-right {
    margin-left: 50px;
}


/* =======Start Education======== */


.education {
    padding: 50px;
    text-align: center;
    background-color: rgb(177, 177, 56);


}

.education-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-left {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 500px;
    margin: 20px;
}


.education-left:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}



.education-right {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 500px;
    margin: 20px;
}

.education-right:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
}

/* =======Start Skills========== */

.skills {
    text-align: center;
    padding: 50px;
}

.show-skills {
    background-color: rgb(161, 161, 55);
    padding: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.programs {
    background-color: WHITE;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 8px;
    padding: 15px;
    color: black;
    cursor: pointer;
}

.programs:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

/* ========================== */

.gallery {
    padding: 25px;
    text-align: center;
}

.gallery h1 {
    margin-bottom: 40px;
}

.all-images {
    margin-bottom: 40px;
}

/* ==================== */

.footer {
    background-color: rgb(161, 161, 55);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left a {
    color: black;
    font-size: 20px;
}

.footer-right a {
    color: black;
    font-size: 25px;
}

/* =========================================== */

/* ===========================
   RESPONSIVE DESIGN START
=========================== */

/* ---- For Tablets (max-width: 992px) ---- */
@media (max-width: 992px) {

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .pages a {
        display: inline-block;
        margin: 10px 5px;
    }

    .content {
        width: 90%;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-content-right {
        margin-left: 0;
        margin-top: 25px;
    }

    .education-content {
        flex-direction: column;
    }

    .education-left,
    .education-right {
        width: 90%;
    }

    .show-skills {
        flex-wrap: wrap;
    }

    .all-images img {
        width: 45%;
        margin-bottom: 15px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-left a {
        display: block;
        margin: 5px 0;
    }
}

/* ---- For Mobile Screens (max-width: 600px) ---- */
@media (max-width: 600px) {

    .logo img {
        width: 120px;
    }

    .pages a {
        font-size: 14px;
        margin: 5px;
    }

    .pages button {
        padding: 7px 10px;
        font-size: 14px;
    }

    .container {
        height: 65vh;
        padding: 10px;
    }

    .content h1 {
        font-size: 26px;
    }

    .content h3 {
        font-size: 18px;
    }

    .content p {
        font-size: 14px;
    }

    .about-content-left img {
        width: 100%;
        height: auto;
    }

    .education-left,
    .education-right {
        width: 100%;
        padding: 15px;
    }

    .programs {
        font-size: 16px;
        padding: 10px;
    }

    .all-images img {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-left a {
        font-size: 16px;
    }

    .footer-right a {
        font-size: 22px;
        margin: 0 5px;
    }
}

/* ===========================
   RESPONSIVE DESIGN END
=========================== */